$box_width: 221px
$box_height: 221px
$title_height: 37px
$margin_box: 22px

.portfolio
  padding-top: $margin_box/2
  .box
    width: 221px
    height: $box_width + $title_height
    overflow: hidden
    display: block
    position: relative
    float: left
    margin-right: $margin_box
    margin-top: $margin_box/2
    margin-bottom: $margin_box/2
    .title_box
      z-index: 10
      background-color: $black
      position: absolute
      bottom: 0
      height: 37px
      font-size: 8px
      text-align: center
      width: 100%
      text-transform: uppercase
      display: block
      border-bottom-left-radius: 3px
      border-bottom-right-radius: 3px
    .title
      font-size: 10px
      font-weight: bold
      color: #999
      padding-top: 15px
      padding-bottom: 15px
    .img
      z-index: 1
      background-size: auto 221px 
      background-position: center center 
      display: block
      width: $box_width
      height: $box_height
      border-top-left-radius: 3px
      border-top-right-radius: 3px