/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 20, ../../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1; }

/* line 22, ../../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 24, ../../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 26, ../../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 28, ../../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 101, ../../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 30, ../../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 114, ../../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 22, ../sass/_base.sass */
.yellow {
  color: #fde60d; }

/* line 25, ../sass/_base.sass */
.grey_white {
  color: #6b6b6b; }

/* line 28, ../sass/_base.sass */
.black_90 {
  color: #0b0b0b; }

/* line 31, ../sass/_base.sass */
.grey_dark {
  color: #262626; }

/* line 36, ../sass/_base.sass */
.simple {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  border-radius: 4px / 4px; }

/* line 39, ../sass/_base.sass */
.compound {
  -webkit-border-radius: 2px 3px;
  -moz-border-radius: 2px 5px / 3px 6px;
  -ms-border-radius: 2px 5px / 3px 6px;
  -o-border-radius: 2px 5px / 3px 6px;
  border-radius: 2px 5px / 3px 6px; }

/* line 42, ../sass/_base.sass */
.crazy {
  -webkit-border-radius: 1px 2px;
  -moz-border-radius: 1px 3px 5px 7px / 2px 4px 6px 8px;
  -ms-border-radius: 1px 3px 5px 7px / 2px 4px 6px 8px;
  -o-border-radius: 1px 3px 5px 7px / 2px 4px 6px 8px;
  border-radius: 1px 3px 5px 7px / 2px 4px 6px 8px; }

/* line 8, ../sass/screen.sass */
a {
  color: #fde60d;
  text-decoration: none; }
  /* line 18, ../../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: #fde60d; }
  /* line 21, ../../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:focus {
    color: #fde60d; }
  /* line 24, ../../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: #fde60d; }
  /* line 27, ../../../../../../Downloads/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: #fde60d; }

/* line 12, ../sass/screen.sass */
a:hover {
  text-decoration: underline; }

/* line 15, ../sass/screen.sass */
.default {
  background-color: #262626;
  color: #6b6b6b;
  font-family: Helvetica, Arial; }

/* line 21, ../sass/screen.sass */
header .header-content {
  max-width: 880px;
  margin: 0 auto;
  position: relative;
  margin-top: 20px; }
  /* line 26, ../sass/screen.sass */
  header .header-content .logo {
    position: absolute;
    left: 0;
    color: #fde60d;
    margin: 0 auto;
    background-image: url("../images/logopainto.png");
    background-repeat: no-repeat;
    text-indent: -999px;
    height: 92px;
    width: 92px;
    display: block; }
  /* line 37, ../sass/screen.sass */
  header .header-content .menu {
    color: white;
    margin-left: 180px;
    padding-top: 76px;
    font-size: 10px; }
    /* line 42, ../sass/screen.sass */
    header .header-content .menu .element {
      float: left;
      margin-right: 10px;
      text-transform: uppercase; }

/* line 47, ../sass/screen.sass */
.content {
  clear: both;
  max-width: 880px;
  margin: 0 auto; }

/* line 52, ../sass/screen.sass */
footer {
  background-color: #0b0b0b;
  position: absolute;
  bottom: 0;
  width: 100%; }
  /* line 57, ../sass/screen.sass */
  footer .footer-content {
    margin: 0 auto;
    max-width: 880px;
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px; }
